{% extends "main/base_generic.html" %}

{% block content %}
  <h2>Список поставщиков</h2>
  <form method="get" action="{% url 'supplier_search' %}">
    <input type="text" name="q" placeholder="Поиск поставщиков">
    <button type="submit">Найти</button>
  </form>
  <ul>
    {% for supplier in suppliers %}
      <li>
        <a href="{% url 'supplier_detail' supplier.pk %}">{{ supplier.supplier_name }}</a>
        <a href="{% url 'supplier_update' supplier.pk %}">
          <button type="button">Изменить</button>
        </a>
        <a href="{% url 'supplier_delete' supplier.pk %}">
          <button type="button">Удалить</button>
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'supplier_create' %}">Добавить нового поставщика</a>
{% endblock %}
